form{
    justify-content: center;
} 

.form-control{
    width: 1000px;
    height: 54px;
    margin: 20px;
}
.form-control1{
    width: 1000px;
   height: 100px;
    margin: 20px;
}
.dropdown{
    width: 1000px;
    margin-left: 20px;
}