<form [formGroup]="companyForm">
    <input type="text" placeholder="company name" formControlName="companyName" class="form-control">
    <span *ngIf="function['companyName'].invalid && (function['companyName'].touched || function['companyName'].dirty)"
        class="text-danger">
        <span *ngIf="function['companyName'].errors && function['companyName'].errors['required']">
            *please add company name
        </span>
        
    </span><br>
    <input type="text" placeholder="companyDescribtion" formControlName="companyDescribtion"
        class="form-control form-control1">
    <span
        *ngIf="function['companyDescribtion'] && function['companyDescribtion'].invalid && function['companyDescribtion'].touched || function['companyDescribtion'].dirty"
        class="text-danger">
        <span *ngIf="function['companyDescribtion'].errors && function['companyDescribtion'].errors['required']">
            *please enter companyDescribtion
        </span>
       
    </span><br>
    

    <ng-select class="dropdown"
    [items]="cities1"
              bindLabel="name"
              bindValue="id"
              [multiple]="true"
              placeholder="Select cities">
   </ng-select>   <br> 
   <ng-select class="dropdown"
    [items]="cities2"
              bindLabel="name"
              bindValue="id"
              [multiple]="true"
              placeholder="Select towm">
   </ng-select>    

<!-- Multiple tag -->

</form>
<div class="d-flex buttons">
    <button (click)="reset()" class="btn mx-4 ">reset</button> <br>
    <button (click)="save()" class="btn ">save</button>
</div>