button{
    background-color: blue;
}

// logo designe
.logo{
    border: 2px solid rgb(7, 7, 7);
text-align: center;
font-size: 18px;
padding: 6px;
border-radius: 50%;
}
// logo1
.logo1{
    border: 2px solid red;
    text-align: center;
    padding: 8px;
    font-size: 18px;
   height: 36px;
   border-radius: 40px;
}

// save and reset
.button{
    height: 20px;
    width: 36px;
    border: 1px solid black;
}


.buttons{
    margin-left: 350px;
    padding: 40px;
}