<div class="list mx-auto bg-color">
    <div class="icon">
        <i class="fa-regular fa-square-plus" (click)="formShow()"></i>
    </div>
    <div class="d-flex">
        <input [(ngModel)]="searchText" class="form-control" type="search" placeholder="Search" aria-label="Search">

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>sr.no</th>
                <th>company name</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let items of companyTable  | system :searchText">
                <td>
                    <div class="logo" (click)="editItem(items)">{{items.companyName | logo}}</div>
                </td>
                <td class="text-centerr fw-bolder">{{items.companyName}}</td>
                <td>
                    <i class="fa-solid fa-xmark logo1 text-danger" (click)="onDelete(items.id)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>